.genre-list {
    max-width: 900px;

    margin: 30px auto;
    padding: 25px;

    background: #1f1f1f;

    border: 2px solid #BAFF39;
    border-radius: 12px;

    color: white;
}

.genre-list h2 {
    margin-bottom: 20px;

    text-align: center;
    color: #BAFF39;
}

.genres {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.genre-item {
    padding: 8px 14px;

    background: #2c2c2c;

    border: 2px solid #6E6E6E;
    border-radius: 20px;

    font-size: 14px;

    transition: .2s;
}

.genre-item:hover {
    border-color: #BAFF39;
    color: #BAFF39;
}