<div class="navbar">
  <img class="logo" src="LogoMyListed.png" width="203" routerLink="/home">

  <div class="barraPesquisa">
    <input class="barra" [(ngModel)]="searchTerm" placeholder="Pesquisar..." />
    <button class="botao" (click)="search(searchTerm)">Buscar</button>
  </div>
  
  <div class="caminhos">
     @if(!isLogged){
      <a routerLink="/login">Login</a>
    } @else if (role === "Admin" || role === "Manager") {
      <a class="profile" routerLink="/profile" style="cursor: pointer;">
        Olá, {{ userName }}
      </a>
      <a routerLink="/mylist">MyList</a>
      <a routerLink="/manager">Manager</a>
    } @else {
      <a class="profile" routerLink="/profile" style="cursor: pointer;">
        Olá, {{ userName }}
      </a>
      <a routerLink="/mylist">MyList</a>
    }
  </div>
</div>