<form [class.login-error]="hasLoginError" (ngSubmit)="login()" #loginForm="ngForm">

  <div>
    <label>Email</label>
    <input
      class="barra" 
      type="text" 
      name="user" 
      [(ngModel)]="user" 
      required 
    />
  </div>

  <div>
    <label>Senha</label>
    <input 
      class="barra"
      type="password" 
      name="password" 
      [(ngModel)]="password" 
      required 
    />
  </div>

  <button type="submit" [disabled]="loginForm.invalid">
    Entrar
  </button>

</form>

<a routerLink="/register">Ainda não possui conta? clique para Criar conta</a>